{% extends 'base.html' %}


{% block page_title %}Portfolio{% endblock %}
{% block page_heading%}Portfolio{% endblock %}

{% block content %}
<p>Thank you taking an interest what i have completed, please see below examples of my work.</p>
<hr>
<div class="category_toolbar">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="categorySelector" id="show_all" value="show_all" checked>
        <label class="form-check-label" for="show_all">Show All</label>
    </div>
    {% for category in categories %}
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="categorySelector" id="{{ category }}" value="{{ category }}">
        <label class="form-check-label" for="{{ category }}">{{ category }}</label>
    </div>
    {% endfor %}
</div>
<hr>
<div id="portfolio_grid" class="row row-cols-2 row-cols-md-3">
        {% for portfolio in portfolios %}
            <div class="portfolio-box col mb-4 category-{{ portfolio.category}}">
                <div class="card">
                    <div class="card-header">
                        {{ portfolio.name}}
                    </div>
                    <img src="https://rdportfolio.s3.amazonaws.com/media/{{ portfolio.image}}" class="card-img-top" alt="{{portfolio.name}} Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ portfolio.category}}</h5>
                        <p class="card-text">{{ portfolio.description|slice:":100"}}...</p>
                        <a href="{% url 'view_portfolio' portfolio.id %}" class="card-link">View More</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Created: {{portfolio.created_date}}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
</div>
<script>
$(".form-check-input").click(function(){
  value = $(this).val();
  category = "category-" + value;
  if(value == 'show_all'){
    $(".portfolio-box").show();
  } else {
    $("."+category).show();
    $(".portfolio-box:not(."+category+")").hide();
  }
});
</script>
{% endblock %}