{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}
{% block page_heading%}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  <p><a href="{% url 'password_change' %}">Change Password</a></p>
  {% if request.user.is_staff %}
  <p><a href="/admin">Admin</a></p>
  {% endif %}
{% else %}
  <p>You are not logged in</p>
  <p><a href="{% url 'login' %}">login</a></p>
  <p><a href="{% url 'django_registration_register' %}">Register</a></p>
{% endif %}
{% endblock %}